@{
    ViewBag.Title = "Home Page";
}

<div id="header" class="row center-block">
    <img id="headerimage" src="~/Resources/photo-icon.png" />
    <div id="headertext">
        <div class="row">
            <div>
                <h1 id="picmeh1id">
                    NiDuoDa.Net
                </h1>
            </div>
            <div class="subheader">
                你看起来多大？ <span id="demoSpan">让机器人告诉你</span>
            </div>
        </div>
    </div>
</div>

<div id="selectImage">
    <div id="imageDiv" class="ImageSelector" style="visibility: visible;">
        <div id="imageList" class="ScrollArea notSelectedImage" style="width: 3000px; transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); -webkit-transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; -webkit-transition-duration: 0ms; transform: translate(-800px, 0px) translateZ(0px);">
            <img src="Resources/faces/scroll000.jpg" data-url="http://how-old.net/Images/faces2/main000.jpg" data-image-name="faces/main000.jpg" id="faces/main000.jpg">
            <img src="Resources/faces/scroll001.jpg" data-url="http://how-old.net/Images/faces2/main001.jpg" data-image-name="faces/main001.jpg" id="faces/main001.jpg">
            <img src="Resources/faces/scroll002.jpg" data-url="http://how-old.net/Images/faces2/main002.jpg" data-image-name="faces/main002.jpg" id="faces/main002.jpg">
            <img src="Resources/faces/scroll003.jpg" data-url="http://how-old.net/Images/faces2/main003.jpg" data-image-name="faces/main003.jpg" id="faces/main003.jpg" class="">
            <img src="Resources/faces/scroll004.jpg" data-url="http://how-old.net/Images/faces2/main004.jpg" data-image-name="faces/main004.jpg" id="faces/main004.jpg" class="selectedImage">
            <img src="Resources/faces/scroll005.jpg" data-url="http://how-old.net/Images/faces2/main005.jpg" data-image-name="faces/main005.jpg" id="faces/main005.jpg">
            <img src="Resources/faces/scroll007.jpg" data-url="http://how-old.net/Images/faces2/main007.jpg" data-image-name="faces/main007.jpg" id="faces/main007.jpg" class="">
            <img src="Resources/faces/scroll006.jpg" data-url="http://how-old.net/Images/faces2/main006.jpg" data-image-name="faces/main006.jpg" id="faces/main006.jpg" class="">
            <img src="Resources/faces/scroll008.jpg" data-url="http://how-old.net/Images/faces2/main008.jpg" data-image-name="faces/main008.jpg" id="faces/main008.jpg">
            <img src="Resources/faces/scroll009.jpg" data-url="http://how-old.net/Images/faces2/main009.jpg" data-image-name="faces/main009.jpg" id="faces/main009.jpg">
            <img src="Resources/faces/scroll0010.jpg" data-url="http://how-old.net/Images/faces2/main0010.jpg" data-image-name="faces/main0010.jpg" id="faces/main0010.jpg">
            <img src="Resources/faces/scroll0011.jpg" data-url="http://how-old.net/Images/faces2/main0011.jpg" data-image-name="faces/main0011.jpg" id="faces/main0011.jpg">
            <img src="Resources/faces/scroll0012.jpg" data-url="http://how-old.net/Images/faces2/main0012.jpg" data-image-name="faces/main0012.jpg" id="faces/main0012.jpg">
            <img src="Resources/faces/scroll0013.jpg" data-url="http://how-old.net/Images/faces2/main0013.jpg" data-image-name="faces/main0013.jpg" id="faces/main0013.jpg">
            <img src="Resources/faces/scroll0014.jpg" data-url="http://how-old.net/Images/faces2/main0014.jpg" data-image-name="faces/main0014.jpg" id="faces/main0014.jpg">
        </div>

        <div id="SelectorBox"></div>
        <div id="SelectorTag">
            <button type="button" class="btn btn-default" onclick=" analyzeUrl() ">
                <span class="glyphicon glyphicon-circle-arrow-right" style="margin-right: 4px" aria-hidden="true"></span>试试这张照片
            </button>
        </div>
    </div>


    <label id="uploadLabel" class="center-block" style="width: 230px;">
        <button id="uploadFileId" class="btn btn-default center-block action" style="background-color: rgb(174, 117, 11); border-radius: 0">
            <span>
                <img src="/Resources/browse-icon.svg" style="width: 25px; height: 25px">
            </span>
            上传你的图片
        </button>
        <input id="uploadBtn" type="file" accept="image/*" style="visibility: hidden; width: 0px; height: 0px">
    </label>

    <p id="maxImageSize" class="help-block center-block bodyfont">我们保证不会存储你上传的图片</p>
</div>
<div id="results" hidden>
    <h5 id="analyzingLabel" class="bodyfont" style="font-size: Medium; text-align: center; visibility: hidden;"></h5>
    <div id="thumbContainer" class="center-block" style="padding-left: 0px; position: relative;">
        <img id="thumbnail" src="/Resources/placeholder.png" class="img-responsive center-block" onerror=" this.onerror = null; this.src = '/Resources/placeholder.png'; " />
        <div id="faces">
            <div></div>
        </div>
    </div>
    <p id="improvingLabel" class="help-block center-block bodyfont" style="font-weight: 100; font-size: 13px; text-align: center; visibility: hidden">
        如果检测不准确还请见谅，我们正在改进中！
    </p>
    <button class="btn btn-default center-block action" style="margin-top: 20px; background-color: rgb(174, 117, 11);border-radius:0" onclick=" history.go(-1); ">
        <span>
            <img src="/Resources/photo-icon.png" style="width: 25px; height: 25px" />
        </span>
        试试其他图片
    </button>
    <div id="jsonEventDiv" style="margin-top: 30px;" hidden>
        <pre id="jsonEvent" style="text-align: left"></pre>
    </div>
</div>

<footer>
    <h5><a href="http://hadb.me/">HADB</a> <a href="http://www.haoest.com/">好易思特</a> 翻译制作</h5>
    <h5>Powered by Microsoft Face APIs.</h5>
</footer>

<div class="row bottom-ads">
    <script type="text/javascript">
        /*NiDuoDa.Net 20:3 创建于 2015-05-08*/
        var cpro_id = "u2092799";
    </script>
    <script src="http://cpro.baidustatic.com/cpro/ui/cm.js" type="text/javascript"></script>
</div>

<input data-val="true" data-val-required="The IsTest field is required." id="isTest" name="isTest" type="hidden" value="False">