<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>测测你多大</title>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
    @Styles.Render("~/Styles/NiDuoDa.net")
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    @Scripts.Render("~/Scripts/NiDuoDa.net")
</body>
</html>
